.shoppingListHead {
  background: #383838;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .2);
}

.list-title {
  color: #eee;
}
.list-title,
.list-title input {
  font-family: Open Sans, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 24px;
  height: 40px;
  line-height: 12px;
  padding: 4px 10px;
}
.list-title input {
  position: absolute;
  left: 29px;
  background: none repeat scroll 0% 0% transparent;
  border: none;
  color: #aaa;
  top: 1px;
}
.list-title a {
  color: #666;
  font-size: 64px;
  text-decoration: none;
  position: relative;
  top: 8px;
}
.shoppingListContent {
  position: relative;
  left: 0;
  -webkit-transition: left 500ms ease;
     -moz-transition: left 500ms ease;
       -o-transition: left 500ms ease;
          transition: left 500ms ease;
}
.shoppingListContent.sidebarOpen {
  left: -300px;
}

/* Friends sidebar */
.friendsSection {
  position: relative;
}
.friendsSidebar {
/*  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  padding-top: 47px;
  background-color: #ccc;*/
  position: absolute;
  top: 60px;
  bottom: 20px;
  right: -300px;
  width: 300px;
  padding-top: 47px;
  background-color: #ccc;
  -webkit-transition: right 500ms ease;
     -moz-transition: right 500ms ease;
       -o-transition: right 500ms ease;
          transition: right 500ms ease;
}
.friendsSidebar.sidebarOpen {
  right: 0;
}
.friendsSidebar li {
  border-top: 1px solid #888;
  height: 70px;
  box-sizing: border-box;
  color: #444;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
}
.friendsSidebar li:hover {
  color: #000;
}
.friendsSidebar li:last-of-type {
  border-bottom: 1px solid #888;
}
.friendsSidebar img {
  width: 70px;
}
.friend-name {
  position: relative;
  left: 18px;
  bottom: 27px;
  font-size: 18px;
}


/* Friends added to the shopping list */
.friendsList {
  height: 70px;
  position: relative;
  overflow-y: hidden;

}
.friendsList ul {
  max-width: 100%;
  position: absolute;
}
.friendsSpaces {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.friendsSpaces::-webkit-scrollbar { 
  display: none; 
}
.friendsSpaces li {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid #777;
  box-sizing: border-box;
  border-right: none;
}
.friendsPhotos {
  position: absolute;
  left: 0;
  top: 0;
}
.friendsPhotos li {
  display: inline-block;
}
.friendsPhotos img {
  width: 70px;
}
.addFriend {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  background: url('plus-icon2.png') no-repeat scroll 50% #555;
  background-size: 36px;
}

/* Search */
#search-wrapper {
  text-align: center;
}
#search-bar {
  height: 40px;
  width: 60%;
  border: 1px solid #777;
  border-radius: 24px;
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
  outline: none;
}

.search-results {
  display: inline-block;
  width: 400px;
  cursor: pointer;
  left: 0;
  width: 100%;
  position: absolute;
}
.shoppingList .search-results li {
  margin: 0 auto;
  width: 400px;
  color: white;
  padding: 5px;
  background-color: rgb(216, 31, 56);
  z-index: 100;
  border-color: #bbb;
  box-shadow: 0 2px 20px 4px rgba(0, 0, 0, 0.2);
}


/* Shopping list */
.shoppingList li {
  padding: 18px;
  border-top: 1px solid rgb(119, 119, 119);
  border-bottom: 1px solid rgb(119, 119, 119);
  border-bottom: 0;
  color: #444;
  /*position: relative;*/
}
.shoppingList li:last-of-type {
  border-bottom: 1px solid #777;
}


/*
.js-delete {
  background: url('ex-icon.png') no-repeat scroll;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 25px;
  right: 56px;
  background-size: 70%;
}
*/