.list-title {
  font-size: 24px;
  height: 40px;
  line-height: 40px;
}
.shoppingListContent {
  position: relative;
  left: 0;
  -webkit-transition: left 500ms ease;
     -moz-transition: left 500ms ease;
       -o-transition: left 500ms ease;
          transition: left 500ms ease;
}
.shoppingListContent.sidebarOpen {
  left: -300px;
}

/* Friends sidebar */
.friendsSection {
  position: relative;
}
.friendsSidebar {
  position: absolute;
  top: 0;
  left: 100%;
  width: 300px;
  background: #222;
}
.friendsSidebar li {
  border-top: 1px solid #888;
  height: 70px;
}
.friendsSidebar li:last-of-type {
  border-bottom: 1px solid #888;
}
.friendsSidebar img {
  width: 70px;
}

/* Friends added to the shopping list */
.friendsList {
  height: 70px;
  position: relative;
  overflow-y: hidden;

}
.friendsList ul {
  max-width: 100%;
  position: absolute;
}
.friendsSpaces {
  max-width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
}
.friendsSpaces li {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 1px solid grey;
  box-sizing: border-box;
  border-right: none;
}
.friendsPhotos {
  position: absolute;
  left: 0;
  top: 0;
}
.friendsPhotos li {
  display: inline-block;
}
.friendsPhotos img {
  width: 70px;
}
.addFriend {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  right: 0;
  background: grey;
  box-shadow: 0 0 5px 5px;
  cursor: pointer;
}

/* Search */
#search-wrapper {
  text-align: center;
}
#search-bar {
  height: 30px;
  border: 2px solid grey;
  border-radius: 24px;
  margin: 10px 0;
}

.search-results {
  display: inline-block;
  width: 400px;
  border: 1px solid grey;
  cursor: pointer;
}
.search-results li {
  padding: 9px;
}

/* Shopping list */
.shoppingList li {
  padding: 15px;
  border-bottom: 1px solid #777;
}
.shoppingList li:first-of-type {
  border-top: 1px solid #777
}